 
*{
	margin: 0;
	padding: 0;
} 
body {background-color: rgb(207, 255, 172);
}
h1 {color: blue;
}
p {color: red;
}

header{
	background: #312F34;
	height: 45px;
 


} 

nav p{
	color: #437EFF;
	border: 10px dash blue;
	border-style: dashed;
	width: 45px;
	padding: 10px 25px 10px 10px;
	margin: 40px 10px 10px 10px;
	background: red;
	/*float: right;*/
	/*padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
*/	
 }
a {
	position: inline;
	text-decoration: none;
}
a li{
	list-style: none;
	display: inline; 
	text-align: center;
	padding: 10px 25px 10px 10px;
	background: #312F34;
	color: #FDFAF9;
	
	/* 
	rem
	em
	px
	%
	*/
}
a li.active{
	color: #E08374;
}
